
.bg-light-gray {
    background-color: #dddddd;
}

.bg-dark-gray {
    background-color: #222;
}




/* Side Navigation */
.side-nav {
    position: fixed;
    width:inherit;
    padding:0px;
    top: 0px;
    bottom: 0;
    border: none;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;

}

.side-nav input{
    width:80%;
    margin-left:10%;
}
.side-nav h1,h2,h4 {
    padding:10px 10px 10px 20px;
}

.tag-menu{
    padding:0px;
    margin-bottom:50px;
}

.tag-menu>li>ul{
    padding:0px;
}

.tag-menu>li{
    background-color: #333;
}

.tag-menu>li>ul>li.active{
    background-color: #111;
}

.tag-menu>li>ul>li{
    background-color: #333;
}

.tag-menu li:hover{
    background-color: #222;
}


.tag-menu a,span {
    display:block;
    color: #999;
    text-decoration: none;
}

.tag-menu span:hover {
    color: #fff;
}

.tag-menu>li>a>span {
    padding: 5px 15px 5px 20px;
}

.tag-menu>li>ul>li>a>span {
    padding: 2px 15px 2px 35px;

}



/* ------- STACK  ------- */


#stack{
    margin-top:20px;

}

#stack .empty{
    font-size:16px;
}

#stack .reset{
    cursor: pointer;
    color:#ccc;
    font-weight:bold;
}

#stack .reset:hover{
    color:#fff;
}

#stack .stack-item {
    margin: 10px;
}

#stack .stack-item .stack-link {
    display: block;
    position: relative;
    margin: 10px;
    max-width: 360px;
}

#stack .stack-item .stack-link .stack-hover {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(10,10,10,.9);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}

#stack .stack-item .stack-link .stack-hover:hover {
    opacity: 1;
}

#stack .stack-item .stack-caption {
    margin: auto;
    padding: 25px;
    max-width: 360px;
    text-align: center;
    position: relative;
    top: 50%;
    font-size:20px;
    transform:translateY(-50%);
    /* background-color: #fff; */
}

#stack .stack-item .stack-caption h4 {
    margin: 0 -25px 0 -25px;
    color: #aaa;
    font-size: 1em;
    text-transform: none;
}

#stack .stack-item .stack-caption p {
    margin: 5px -20px 0 -20px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    font-style: italic;
}

#stack * {
    z-index: 2;
}

@media(min-width:767px) {
    #stack .stack-item {
        margin: 0 0 30px;
    }
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.video-responsive{
    width:600px;
    height:360px;
}



/* ------- MODAL  ------- */

.stack-modal .modal-content {
    padding: 0px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    background-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.stack-modal .modal-content h2 {
    font-size: 24px;
}


.stack-modal .modal-content p {
    font-size:16px;
    margin-top:12px;
    text-align: left;
}

.stack-modal .modal-content p.item-intro {
    color: #777;
    margin: 10px 0 20px;
    text-align: center;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.stack-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.stack-modal .modal-content img {
    margin-bottom: 30px;
}

.stack-modal .close-modal {
    position:absolute;
    top: 36px;
    right: 36px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1051;
    font-size:36px;
}

.stack-modal .close-modal:hover {
    opacity: .3;
}

