<!doctype html>
<div class="col-md-4 col-sm-6  stack-item">
<h1>  {{header}} </h1>

    <a href="#stackModal1" class="stack-link" data-toggle="modal">
        <div class="stack-hover">
            <div class="stack-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img src="img/stack/pr1.png" class="img-responsive" alt="">
    </a>
    <div class="stack-caption">
        <h4>{{project.name}}</h4>
        <p class="text-muted">{{project.sub}}</p>
    </div>

</div>
