<!doctype html>
<html ng-app="sitec">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shuheng Projects</title>

    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/app.css" >

    <!-- Angular Core JavaScript -->
    <script src="js/angular.min.js"></script>

  </head>

  <body class="bg-dark-gray"  ng-controller="Controller as ct"  ng-cloak>


<div id="page-wrapper container">
    <div class='row'>

    <!--  Navigation  -->
    <div class="col-sm-3 col-md-2  col-xs-4">
        <div class="side-nav">
            <h2 class="logo text-muted">
                Shuheng Projects
            </h2>

            <input type="text" ng-model="searchTerm.name" class="form-control" placeholder="Search Title">


            <div> <br></div>

            <ul class="tag-menu">

                <li ng-repeat="categ in ct.category">
                    <a href data-toggle="collapse" data-target={{"#demo"+($index+1)}}><span> {{categ.name}}<i class="caret"></i> </span></a>
                    <ul id={{"demo"+($index+1)}} class="collapse">
                        <li ng-class="{'active':IsSelected(item) }" ng-repeat="item in categ.child">
                            <a href ng-click="ToggleCategory(item)"><span>{{item}}</span></a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>

    <!-- Projects -->
  <div class="col-md-10 col-sm-9 col-xs-8 col-md-offset-2 col-sm-offset-3 main">

    <!-- Stack -->
    <div id="stack">


        <div class="col-xs-12 col-md-4 col-sm-6  stack-item" ng-repeat="project in filteredItems = ( ct.projects | filter:searchTerm | findTag: category )">
            <a ng-click="SetCurrentProject(project)" class="stack-link"  data-target="#stackModal" data-toggle="modal">
                <div class="stack-hover">
                    <div class="stack-caption">
                    <h4>{{project.name}}</h4>
                    <p class="text-muted">{{project.tag.join(', ')}}</p>
                    </div>
                </div>
                <img ng-src={{"img/"+project.thumb}} class="img-responsive" alt="">
            </a>

        </div>

        <!-- No results -->
        <div class="col-xs-12 text-muted empty" ng-hide="filteredItems.length">
            <p>Notice: result.length()=0. Click <a class="reset" ng-click="ResetFields()">HERE</a> to reset.</p>
        </div>

    </div>



    <!--- Shared Stack Modal -->
    <div class="stack-modal modal fade" id="stackModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">

            <div class="close-modal hidden-xs" data-dismiss="modal">
                <i class="glyphicon glyphicon-remove">
                </i>
            </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2  col-sm-10 col-sm-offset-1 ">
                        <div class="modal-body">
                            <h2>{{currentProject.name}}</h2>
                            <p class="item-intro">{{currentProject.tag.join(', ')}}</p>
                            <img class="img-responsive img-centered" ng-show="currentProject.img" ng-src={{"img/"+currentProject.img}} alt="">

                            <div ng-bind-html="TrustedHtml"></div>

                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <!--- Project ends -->

</div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- App JavaScript -->
    <script src="js/app.js"></script>
    <script src="doc/projects.js"></script>
    <!-- Custom Theme JavaScript -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36579989-3', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
