---
layout: default
title: Home
---

<!-- This loops through the paginated posts -->

{% for post in paginator.posts %}
<center>
  <h2><a  href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="date">{{ post.date | date_to_string }}</div>
    </center>
  <div class="content">
    {{ post.content }}
  </div>

{% endfor %}

<!-- Pagination links -->
<center>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
</center>