<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/">Shuheng Gong</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                {% for page in site.pages_list %}
                  <li><a class="page-scroll" href="{{ page[1]  }}">{{ page[0] }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

<section>
    <div class="content">

        {{ content }}

      <footer class="footer">
        <!--<small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small> -->
      </footer>
    </div>
<section>

  </body>
</html>


